DEBUG=True
SECRET_KEY=
DB_NAME=elisangela
DB_USER=elisangela_app
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3308

ASAAS_API_KEY=
ASAAS_API_URL=https://api-sandbox.asaas.com/v3
ASAAS_WEBHOOK_TOKEN=
SESSION_PRICE=150.00
ANAMNESIS_ACCESS_MINUTES=120

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
THERAPIST_EMAIL=